html,body{padding:0;margin:0}body{font-family:"Roboto",sans-serif;text-align:center;color:#fff}.content{background:#fcfcfc;border:1px solid #ddd;border-radius:4px;box-shadow:1px 1px 1px rgba(0,0,0,0.05);width:500px}.ns{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.image{width:500px;height:500px;border-radius:4px;background:no-repeat no-repeat center center;background-size:contain;position:relative}.logo{position:absolute;opacity:0.5;bottom:0.5em;right:0.5em;width:7em;cursor:pointer}.logo:hover{opacity:1}
/*# sourceMappingURL=embed.css.map */
