a.blog-btn
  color: #ccc
  text-decoration: none
  font-size: 1.2em
  border: 1px solid #555
  padding: 0.5em 1em
  display: block
  border-radius: 4px
  background: #282828
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5)
  &:hover
    background: #333
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5)

.post-preview
  background: #222
  padding: 0em 1em 1em 1em
  border-radius: 4px
  box-shadow: 0px 0px 2px 0px rgba(150,150,150,0.5)