$width: 960px

#main
  text-align: left
  display: block

#sidebar
  background: #222
  text-align: center
  border-right: 1px solid #222
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      &:hover
        background: #333
      a
        margin: 0
        padding: 1em 3em
        border-bottom: 1px solid #333
        color: #fff
        text-decoration: none
        display: block

#sidebar-fade-out
  height: 8em
  background: linear-gradient(to bottom, #222 0%, #222 50%, #111 100%)
  border-bottom: none !important

#content-parent, #sidebar-parent
  display: inline-table
  vertical-align: text-top

#content
  max-width: none
  padding: 0 1em
  h1
    color: #8CC1E6
    margin: 0
    font-size: 2em
    font-weight: 900
  h2, h3, h4
    font-weight: 900
    font-size: 150%
    margin: 0

.report
  max-width: 800px
  background: linear-gradient(to bottom, #222 0%, #222 10%, #111 100%)
  padding: 1em
  border-radius: 8px
  border: 1px solid #333
  box-shadow: 2px 1px 8px rgba(0,0,0,0.5)
  float: none // Fixes bug from main.css.
  margin: 1em 0
  .actions
    display: inline-table
    bottom: 1em

.report-image
  width: 12em
  height: 12em
  background-size: contain
  display: inline-table

.report-text
  display: inline-table
  vertical-align: top
  padding-left: 1em
  p
    margin: 2px 0

.btn
  margin-right: 0.5em