$width: 500px

html, body
  padding: 0
  margin: 0

body
  font-family: 'Roboto', sans-serif
  text-align: center
  color: white

.content
  background: #222
  border: 1px solid #000
  box-shadow: 1px 1px 1px rgba(0,0,0,0.55)
  border-radius: 4px
  width: $width

.ns
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.image
  width: $width
  height: $width
  border-radius: 4px
  background: no-repeat no-repeat center center
  background-size: contain
  position: relative

.logo
  position: absolute
  opacity: 0.5
  bottom: 0.5em
  right: 0.5em
  width: 7em
  cursor: pointer
  &:hover
    opacity: 1