/*@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin-ext)*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext)*/

@import "blog"

$maxWidth: 800px

html, body
  padding: 0
  margin: 0
  height: 100%

body
  background: #1a1a1a
  font-family: 'Roboto', sans-serif
  text-align: center
  color: white
  max-height: 90%

.clearfix:after
  content: ""
  display: table
  clear: both

.centered
  margin: 0 auto
  max-width: $maxWidth

.ns
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.inner
  margin: 0 auto
  padding: 0 1em
  max-width: $maxWidth

.thumb
  height: 16em
  width: 16em
  background-size: cover
  background-position: center center
  display: inline-block
  transition: 300ms ease all

.outer
  margin: 0.5em
  padding: 0.5em
  border-radius: 3px
  background: #222
  border: 1px solid #333
  display: inline-block
  cursor: pointer
  transition: 200ms ease all
  line-height: 0
/*box-shadow: 0px 0px 4px 0px black*/

.outer:hover
  background: #333
  border-color: #444
  box-shadow: 0px 0px 6px 0px black

.btn
  /* text-shadow: 1px 1px 4px black */
  margin-top: 4px
  padding: .5em .75em
  border-radius: 3px
  /* background: linear-gradient(to bottom, rgba(28, 28, 28, 1) 0%, rgba(17, 17, 17, 1) 100%) */
  border: 1px solid #666
  display: inline-block
  cursor: pointer
  /* box-shadow: 0px 0px 2px 0px black */
  transition: 200ms ease all

.btn:hover
  /* background: linear-gradient(to bottom, rgba(33, 33, 33, 1) 0%, rgba(23, 23, 23, 1) 100%) */
  background: #222
  border-color: #555

.btn:active, .selected
  /* background: linear-gradient(to top, rgba(46, 46, 46, 1) 0%, rgba(37, 37, 37, 1) 100%) */
  background: #222
  border-color: #555
  box-shadow: 0px 0px 8px black

.selected:hover
  background: linear-gradient(to top, rgba(56, 56, 56, 1) 0%, rgba(47, 47, 47, 1) 100%)

.likes
  float: left
  margin-right: 0.25em
  color: rgb(91, 163, 0)

.dislikes
  float: left
  margin-right: 0.25em
  color: rgb(184, 5, 5)

.disabled
  cursor: not-allowed
  opacity: 0.5

.download
  float: right
  margin-right: 0.25em

.fshare, .twittershare, .report
  float: right
  margin-right: 0.25em

.share
  float: right

.newposts
  padding: 1em
  cursor: pointer
  background: rgb(13, 154, 255)
  border: 1px solid rgb(111, 190, 255)
  border-radius: 4px
  box-shadow: 0px 0px 4px 0px rgb(13, 154, 255)
  text-shadow: 0px 1px 1px black
  margin: 1em 1em 0.5em

.newposts:hover
  background: rgb(13, 174, 255)

footer
  small
    a:link, a:visited, a:hover
      color: #aaa

h1, h2, h3, h4
  color: #aaa
  padding: 0.5em 0 0 0
  font-size: 150%
  font-weight: 100

p
  color: #aaa
  padding: 0.5em 0 0 0

abbr
  border-bottom: 1px dashed #aaa

#scrollToTop
  background: rgba(128, 128, 128, 0.9)
  padding: 1em
  color: white
  position: fixed
  right: -15em
  bottom: 1.5em
  cursor: pointer
  transition: 300ms ease all
  font-size: 1.5em
  border-radius: 4px 0 0 4px
  &:hover
    background: rgba(196, 196, 196, 0.9)

#content
  max-width: $maxWidth
  margin: 0 auto
  padding: 0 1em
  text-align: left
  h2
    color: #8CC1E6
    margin-bottom: 0
  p
    margin-top: 0
    color: #eee
    text-align: justify
    line-height: 1.42
  li
    line-height: 1.42

#viewer
  top: 100%
  height: 100%
  background: #030303 //rgba(0, 0, 0, 0.92)
  left: 0
  right: 0
  bottom: 0
  position: fixed
  overflow-y: auto

.viewer-title
  display: none

.viewer-image
  background: no-repeat center center
  background-size: contain
  cursor: pointer
  display: block
  width: 100%
  height: 85%
  // On big screens display images in the center instead of stretching them.
  @media screen and (min-height: 800px)
    background-size: initial

.viewer-info
  display: block
  text-align: left
  background: #1a1a1a
  padding-top: 1em
  padding-bottom: 5em

a#image-original, a#image-original:visited, a#image-original:hover
  color: #888
  text-decoration: underline
  font-size: 0.9em

.shared
  height: 500px
  width: 99% // When it's 100% page is horizontally scrollable. This fixes it.
  background: #080808
  padding: 0.5em
  box-shadow: 0 0 8px black

.shared-image
  background: no-repeat center center
  background-size: contain
  display: block
  height: 100%

#scrollable-content
  padding-top: 1em
  overflow-y: scroll
  max-height: 100%
  width: 100%
  position: fixed

#gallery
  display: none

#overlay
  background: rgba(0, 0, 0, 0.9)
  top: 0
  bottom: 0
  left: 0
  right: 0
  position: absolute
  display: none

#settings
  display: none
  max-width: 500px
  background: #222
  border-radius: 3px
  border: 1px solid #333
  margin: 4em auto
  position: relative

#settings-close-btn
  margin: 1em

#settings_holder
  div
    background: #333
    padding: .5em
    border-bottom: 1px solid #111

.close
  top: 1em
  right: 1em
  position: absolute
  font-size: 1.5em
  color: rgba(255, 255, 255, 0.4)
  &:hover
    color: rgba(255, 255, 255, 1)

.arrow-prev
  font-size: 1.5em
  left: 1em
  position: absolute
  top: 40%
  color: rgba(255, 255, 255, 0.4)
  &:hover
    color: rgba(255, 255, 255, 1)

.arrow-next
  font-size: 1.5em
  right: 1em
  position: absolute
  top: 40%
  color: rgba(255, 255, 255, 0.4)
  &:hover
    color: rgba(255, 255, 255, 1)

#navbar
  background: #2a2a2a
  padding: 0
  margin-bottom: 0
  box-shadow: 0px 0px 8px black
  .first
    background: linear-gradient(to right, #2a2a2a 0%, #2e2e2e 100%)
  .last
    background: linear-gradient(to left, #2a2a2a 0%, #2e2e2e 100%)
    border-right: none

  a
    color: white
    padding: 0.65em 0.75em
    display: inline-block
    text-decoration: none
    font-size: 1.25em
    background: #2e2e2e
    border-right: 1px solid #222
    &:hover
      text-decoration: underline
      background: #383838
  a.disabled
    color: #777
  .dd
    cursor: pointer
    font-size: 1.5em
    right: 0.75em
    position: absolute
    top: 0.55em
    color: #777
    &:hover
      color: #aaa


/* Spinner */
@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.spinner
  margin: 2em auto
  height: 28px
  width: 28px
  animation: rotate 0.8s infinite linear
  border: 8px solid #fff
  border-right-color: transparent
  border-radius: 50%

/* Scroll-bar */
::-webkit-scrollbar
  width: 8px
  background-color: rgba(64, 64, 64, 0)
  -webkit-border-radius: 100px

::-webkit-scrollbar:hover
  background-color: rgba(0, 0, 0, 0.09)

::-webkit-scrollbar-thumb:vertical
  background: rgba(128, 128, 128, 0.5)
  -webkit-border-radius: 100px

::-webkit-scrollbar-thumb:vertical:active
  background: rgba(196, 196, 196, 0.61)
  -webkit-border-radius: 100px